body {
  display: grid;
  place-items: center;
  background: #d9dbdc;
  text-align: center;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#primalcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9dbdc;
  height: 250px;
  width: 250px;
  position: relative;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 7px #4f4f4f73;
}

#primalcontainer::before {
  content: "";
  position: absolute;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background: #d9dbdc;
  box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px #4f4f4f73;
}

#primalcontainer::after {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: #d9dbdc;
  box-shadow: -1px -1px 7px #ffffff73, 1px 1px 5px #4f4f4f73;
}

#center {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

#secondcender {
  height: 15px;
  width: 15px;
  background: #2e2e2e;
  border-radius: 50%;
  z-index: 20;
  position: absolute;
}

#secondcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#secondcontainer div {
  position: absolute;
  width: 2px;
  height: 5px;
  background: #adadad;
}

#secondcontainer div:nth-child(1) {
  transform: rotate(30deg) translateY(-100px);
}
#secondcontainer div:nth-child(2) {
  transform: rotate(60deg) translateY(-100px);
}
#secondcontainer div:nth-child(3) {
  transform: rotate(90deg) translateY(-100px);
  background: #000000;
}
#secondcontainer div:nth-child(4) {
  transform: rotate(120deg) translateY(-100px);
}
#secondcontainer div:nth-child(5) {
  transform: rotate(150deg) translateY(-100px);
}
#secondcontainer div:nth-child(6) {
  transform: rotate(180deg) translateY(-100px);
  background: #000000;
}
#secondcontainer div:nth-child(7) {
  transform: rotate(210deg) translateY(-100px);
}
#secondcontainer div:nth-child(8) {
  transform: rotate(240deg) translateY(-100px);
}
#secondcontainer div:nth-child(9) {
  transform: rotate(270deg) translateY(-100px);
  background: #000000;
}
#secondcontainer div:nth-child(10) {
  transform: rotate(300deg) translateY(-100px);
}
#secondcontainer div:nth-child(11) {
  transform: rotate(330deg) translateY(-100px);
}
#secondcontainer div:nth-child(12) {
  transform: rotate(360deg) translateY(-100px);
  background: #000000;
}

#hour,
#minute,
#second {
  position: absolute;
}

#hour {
  height: 110px;
  width: 110px;
  z-index: 4;
}

.hour {
  height: 110px;
  width: 110px;
  z-index: 4;
}

#minute {
  height: 140px;
  width: 140px;
  z-index: 5;
}

.minute {
  height: 140px;
  width: 140px;
  z-index: 5;
}

#second {
  height: 180px;
  width: 180px;
  z-index: 6;
}

.second {
  height: 180px;
  width: 180px;
  z-index: 6;
}

.second,
.minute,
.hour {
  display: flex;
  justify-content: center;
  position: absolute;
}

.second::before {
  content: "";
  position: absolute;
  height: 80px;
  top: 10px;
  width: 3px;
  background: #800606;
}
.second::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #800606;
}
.minute::before {
  content: "";
  position: absolute;
  width: 1px;
  top: -15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #2e2e2e;
}
.minute::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 80px;
  top: -10px;
  background: #2e2e2e;
}
.hour::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 50px;
  top: 0px;
  background: #2e2e2e;
}
.hour::before {
  content: "";
  position: absolute;
  width: 1px;
  top: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #2e2e2e;
}
